#settings {
	position: absolute;
	top: 80px;
	left: calc((100% + 50px)*3);
	height: calc(100% - 80px);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all 0.5s ease;
	overflow: auto;
}
#settings h1 {
	font-size: 12pt;
	padding: 0 0 10px 0;
	margin: 0;
	text-align: center;
}